
<div class="col-xs-4 ">
    <input class="form-control" [(ngModel)]='nam'>
</div>

<table class="table table well">

        <thead>
       <tr>
           <th>Sl.No</th>
           <th>Name</th>
           <th>Age</th>
           <th>Salary</th>
           <th>Designation</th>
           <th>Image</th>
         
           </tr>
         </thead>
         <tbody>
<tr *ngFor="let c of fdata|sec:nam,let i=index">
            <td>{{i+1}}</td>
            <td>{{c.name}}</td>
            <td>{{c.age}}</td>
            <td>{{c.salary|currency:'Rs'}}</td>
            <td>{{c.designation}}</td>
            <td  style="width:100%" ><img src="{{c.img}}" width="50px"></td>
            
            
            </tr>
        </tbody>
   </table>
