
<div class="page" >
    <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                    <a class="navbar-brand" href="#">OJAS</a>
                  </div>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a routerLink='login' class="btn nav-right"><i class="glyphicon glyphicon-log-in"> Login</i></a></li>
                  </ul>
            
            </nav>
            <div class="row">
                <div class="col-sm-6">
                        <img src="assets/value@2x.png">
                        
                </div>
                <div class="col-sm-6">
                        <img src="assets/Ojasjobportal.png">
                        <a routerLink='register' class="btn btn-success">Register</a>
                </div>
            </div>
           
                       
</div>
<div class="shadow-lg p-3 bg-dark rounded text-center">Open Positions</div>

<!-- <form [formGroup]="reactive">
        <div class="form-group">
                <label>Image</label> 
                <img [src]="url" height="200px" width="250p" >
                <input type="file"  (change)="onSelectFile($event)" formControlName="img"  >
        </div>
</form> -->
